/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A */
/* цвет контактов футера rgba(255, 255, 255, 0.6) */

:root {
  --primary-tex-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --text-logo-color: #000000;
  --footer-contact-text: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/*=====LOGO=====*/
.logo {
  font-family: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.logo-web {
  color: var(--accent-color);
}
.logo-studio-dark {
  color: var(--text-logo-color);
}
.logo-studio-white {
  color: var(--white-color);
}
/*=====END LOGO=====*/

/*=====SITE NAV=====*/
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/*==== END SITE NAV=====*/

/*====CONTACTS=====*/
.contacts .link {
  color: var(--primary-tex-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/*==== END CONTACTS=====*/

/*====HERO=====*/
.hero {
  background-color: var(--secondary-background-color);
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.but {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/*=====FEATURES=====*/
.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  color: var(--primary-tex-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
/*===== END FEATURES=====*/
/*===SUBTITLE====*/
.subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}
.pic-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}
.pic-desc {
  color: var(--primary-tex-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}
/*===END SUBTITLE====*/
.filters-button :hover {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}
/*=====PROJECT====*/
.gallery-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-subtitle {
  color: var(--primary-tex-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
/*=====END PROJECT====*/

/*=====FOOTER======*/
.footer {
  background-color: var(--secondary-background-color);
}
.address-maps a {
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.address-contact a {
  color: var(--footer-contact-text);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
/*=====END FOOTER======*/
